<p>new-cd works!</p>

<div class="monForm">
    <section class="subForm saisieForm">
        <h2>Nouveau CD</h2>
        <form [formGroup]='formulaire'>
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-group" id="title" formControlName="title"><br>
                <div *ngIf="formulaire.get('title')?.invalid && formulaire.get('title')?.errors && (formulaire.get('title')?.dirty || formulaire.get('title')?.touched)">
                    <small class="text-danger" *ngIf="formulaire.get('title')?.hasError('required')">
                        Ce champ est requis.
                    </small>
                    <small class="text-danger" *ngIf="formulaire.get('title')?.hasError('minlength')">
                        Ce champ doit comporter au moins 6 caractères.
                    </small>
                </div>
                <label for="author">Auteur</label>
                <div *ngIf="formulaire.get('author')?.invalid && formulaire.get('author')?.errors && (formulaire.get('author')?.dirty || formulaire.get('author')?.touched)">
                    <small class="text-danger" *ngIf="formulaire.get('author')?.hasError('required')">
                        Ce champ est requis.
                    </small>
                    <small class="text-danger" *ngIf="formulaire.get('author')?.hasError('minlength')">
                        Ce champ doit comporter au moins 6 caractères.
                    </small>
                </div>
                <input type="text" class="form-group" id="author" formControlName="author"><br>
                <label for="thumbnail">Lien</label>
                <input type="text" class="form-group" id="thumbnail" formControlName="thumbnail"><br>
                <label for="dateDeSortie">Date de sortie</label>
                <input type="text" class="form-group" id="dateDeSortie" formControlName="dateDeSortie"><br>
                <label for="quantite">Quantite</label>
                <input type="text" class="form-group" id="quantite" formControlName="quantite"><br>
                <label for="price">Prix</label>
                <input type="text" class="form-group" id="price" formControlName="price">
                <input type="submit" [disabled]="formulaire.invalid" value="Valider" (click)="addCD()">
            </div>
        </form>
    </section>

    <section class="subForm visuForm">
        <h2>Vue du CD</h2>
            <div *ngIf="currentCD !== undefined">
                <h3>{{currentCD.title}}</h3>
                <p>Sortie le: {{currentCD.dateDeSortie | date: 'dd/MM/yyyy'}}</p>
                <p>Auteur / groupe : {{currentCD.author}}</p>
                <p>Prix : {{currentCD.price |currency: 'EUR'}} </p>
                <p>Quantité : {{currentCD.quantite}}</p>
                <img [src]="currentCD.thumbnail" alt="{{currentCD.title}}">
            </div>
    </section>
</div>